<template>
<div class="blog__section" id="blog">
    <div class="blog">
        <div v-for="post in posts" :key="post.key">
            <BlogPost :title="post.title" />
        </div>
    </div>
    <input type="button" value="viewBlog" />
</div>
</template>

<script>
import BlogPost from './BlogPost';

export default {
   name: 'Blog',
   data() {
        return {
            posts: [
                {
                    key: "1",
                    title: "This is a Blog1 Title"
                },
                {
                    key: "2",
                    title: "This is a Blog2 Title"
                },
                {
                    key: "3",
                    title: "This is a Blog3 Title"
                }
            ]
            
        };
   },
   components: {
       BlogPost
   },
   
};
</script>

<style lang="scss" scoped>
.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

}

.blog__section {
    padding: 1rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
</style>