<template>
    <div class="intro" id="intro">
       <p> I'm 22 years old and live in Bangaluru, India </p>
    </div>
</template>

<script>
export default {
   name: 'Introduction',
};
</script>

<style lang="scss" scoped>
.intro {
    margin-top: 12vh;
}

p {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
}

</style>