<template>
    <footer class="footer" id="connect">
        <div class="footer__top">
            <p class="footer__tag"> Connect with me on:</p>
            <div class="footer__social">
                <font-awesome-icon :icon="['fab', 'twitter']" class="footer__social--icon" />
                <font-awesome-icon :icon="['fab', 'gitlab']" class="footer__social--icon" />
                <font-awesome-icon :icon="['fab', 'github']" class="footer__social--icon" />
                <font-awesome-icon :icon="['far', 'envelope']" class="footer__social--icon" />
            </div>
        </div>
        <p class="footer__copyright">Made with <font-awesome-icon :icon="['fas', 'heart']" class="footer__copyright--icon" /> by Shubham Arora</p>
    </footer>
</template>

<script>
export default {
   name: 'Footer',
   data() {
       return {
           
       };
   },
};
</script>

<style lang="scss" scoped>
    .footer {
        grid-column: col-start 3 / col-end 6;
        grid-row: 4 / -1;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__top {
            display: flex;
            flex-direction: column;
        }

        &__tag {
            color: white;
            font-weight: 600;
            font-size: 1.6rem;
            align-self: center;
            margin-bottom: 2rem;
        }

        &__copyright {
            color: white;
            font-weight: 400;
            font-size: 1.6rem;
            align-self: center;
            margin-top: 2rem;

            &--icon {
                color: red;
            }
        }

        &__social {
            display: flex;
            justify-content: space-around;

            &--icon {
                font-size: 3rem;
                box-sizing: content-box; 
                color: white;
                border: 1px solid white;
                border-radius: 50%;
                padding: 1rem;
                transition: background-color .2s ease-out;

                &:hover {
                    background-color: rgba(white, 0.45);
                    
                }
            }
                
        }
    }

</style>