<template>
        <nav class="navigation fade-in" :class="{ scrolled: isScrolled }">
            <ul class="navigation__items">
                <li class="navigation__item" :class="{ scrolled: isScrolled }">
                    <a href="#" v-scroll-to="{el: '#intro', offset: -77}" class="navigation__link active drop-in navigation__link--1">
                        Introduction
                    </a>
                </li>
                <li class="navigation__item" :class="{ scrolled: isScrolled }">
                    <a href="#" v-scroll-to="'#projects'" class="navigation__link drop-in navigation__link--2">
                        Projects
                    </a>
                </li>
                <li class="navigation__item" v-scroll-to="{el: '#blog', offset: -80}" :class="{ scrolled: isScrolled }">
                    <a href="#" class="navigation__link drop-in navigation__link--3" >
                        Blog
                    </a>
                </li>
                <li class="navigation__item" :class="{ scrolled: isScrolled }">
                    <a href="#" v-scroll-to="'#connect'" class="navigation__link drop-in navigation__link--4">
                        Connect
                    </a>
                </li>
            </ul>
        </nav>
</template>

<script>
export default {
  components: {
    name: 'Navigation',
    },
    props: {
        isScrolled: Boolean,
    },
};
</script>

<style lang="scss" scoped>
    @keyframes dropIn { from { opacity:0; transform: translateY(-10px); } to { opacity:1; transform: translateY(0);} }

    @keyframes fadeIn { from { opacity:0; } to { opacity:1;} }

    .drop-in {
        opacity:0;  /* make things invisible upon start */
        animation:dropIn ease-in;
        animation-fill-mode:forwards;
        animation-duration: 1s;
    }

    .navigation {
        position: sticky;
        top: 0;
        z-index: 100;
        backface-visibility: hidden;
        background-color: rgba(247, 247, 247, 0);
        grid-column: center-start / center-end;
        
        align-self: center;

        grid-row: 2 / 3;
        font-size: 1.4rem;
        padding: 2rem;
        transition: background-color .2s ease-out .2s, padding .3s ease-out;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: white;
        cursor: default;

        &.scrolled {
             border-top-left-radius: 0;
             border-top-right-radius: 0;
             border-bottom-left-radius: 0.25em;
             border-bottom-right-radius: 0.25em;
             padding: 1rem;
        }

        &__items {
            list-style: none;
            display: flex;
            justify-content: center;

        }

        &__item {
            background-color: rgba(255, 255, 255, 0);
            margin: 0 0.35em;
            padding: 0;
            align-self: center;
            transition: margin-right 0.05s ease-in;
            &:not(:last-child) {
                margin-right: 4rem;
                &.scrolled {
                    margin-right: 3rem;
                }
            }
        }

        &__link {

            &--1 {
                animation-delay: .3s;
            }

            &--2 {
                animation-delay: .8s;
            }

            &--3 {
                animation-delay: 1.3s;
            }

            &--4 {
                animation-delay: 1.8s;
            }

            &:link,
            &:visited {
                border-radius: 8px;
                display: inline-block;
                transition: padding 0.1s ease-out, background-color .2s ease-out;
                padding: .4rem 2.25rem;
                line-height: 2.25em;
                font-weight: 400;
                box-shadow: inset 0 0 0 1px transparent;
                text-decoration: none;
                color: #000000;
                outline: none;
            }

            &:hover {
                background-color: rgba(222, 222, 222, .7);
            }

            &:link.active {
                box-shadow: none;
                background-color: rgba(215, 215, 215, .9);
            }

        }
    }


</style>