<template>
    <div class="container">
        <Header />
          <Navigation 
                :isScrolled="isScrolled"
                v-scroll="handleScroll" 
                />
          <Content v-scroll="handleScroll"
                :isScrolled="isScrolled"
                :isScrolled50="isScrolled50" 
                />
          <Footer />
    </div>
</template>

<script>
import Navigation from "./components/Navigation";
import Header from "./components/Header";
import Content from "./components/Content";
import Footer from "./components/Footer";

export default {
  name: "App",
  components: {
    Navigation,
    Header,
    Content,
    Footer
  },
  data() {
    return {
      isScrolled: false,
      isScrolled50: false,
    };
  },
  methods: {
    handleScroll(evt, el) {
      var h = Math.max(
        document.documentElement.clientHeight,
        window.innerHeight || 0
      );
      if (window.scrollY > h ) {
        this.isScrolled = true;
      } else {
        this.isScrolled = false;
      }

      if (window.scrollY > h / 2) {
        this.isScrolled50 = true;
      } else {
        this.isScrolled50 = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-rows: 76vh 12vh 200vh 50vh;
  grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    ) [center-end] minmax(10rem, 1fr) [full-end];
  padding: 8rem 1rem 2rem 1rem;
}
</style>