*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px;
}

body {
    box-sizing: border-box;
    background-image:  linear-gradient(-180deg, rgb(17, 221, 170) 0%, rgb(29, 233, 182) 24%, rgb(29, 233, 182) 100%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

