.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background-image: linear-gradient(to right, #ff5753, #e63946);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    

    &::-moz-selection {
        background-color: rgba(#ff5753,0.5);
        color: white;

    }

    &::selection {
        background-color: rgba(#ff5753,0.5);
        color: white;

    }

    &:hover {
        transform: scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#000, .2);
    }
}